##
## Fork from https://github.com/pixta-dev/repository-mirroring-action
##           https://github.com/actions/checkout


name: Mirror repo to other server
on: [push, delete]
jobs:

  mirror_to_gitee:
    runs-on: ubuntu-latest
    steps:
      - uses: moocon/checkout@v2
        with:
          fetch-depth: 0
      - uses: moocon/repository-mirroring-action@v1
        with:
          target_repo_url: git@gitee.com:moocon/ImageHost.git
          ssh_private_key: ${{ secrets.MOOCON_PRIVATE_KEY }}

  mirror_to_gitlab:
    runs-on: ubuntu-latest
    steps:
      - uses: moocon/checkout@v2
        with:
          fetch-depth: 0
      - uses: moocon/repository-mirroring-action@v1
        with:
          target_repo_url: git@gitlab.com:moocom/ImageHost.git
          ssh_private_key: ${{ secrets.MOOCON_PRIVATE_KEY }}
