##
## Fork from https://github.com/Yikun/hub-mirror-action.git
##

##
## 必选参数
## src 需要被同步的源端账户名，如github/kunpengcompute，表示Github的kunpengcompute账户。
## dst 需要同步到的目的端账户名，如gitee/kunpengcompute，表示Gitee的kunpengcompute账户。
## dst_key 用于在目的端上传代码的私钥(默认可以从~/.ssh/id_rsa获取），可参考生成/添加SSH公钥或generating SSH keys生成，并确认对应公钥已经被正确配置在目的端。对应公钥，Github可以在这里配置，Gitee可以这里配置。
## dst_token 创建仓库的API tokens， 用于自动创建不存在的仓库，Github可以在这里找到，Gitee可以在这里找到。

##
## 可选参数
## account_type 默认为user，源和目的的账户类型，可以设置为org（组织）或者user（用户），该参数支持同类型账户（即组织到组织，或用户到用户）的同步。如果源目的仓库是不同类型，请单独使用src_account_type和dst_account_type配置。
## src_account_type 默认为account_type，源账户类型，可以设置为org（组织）或者user（用户）。
## dst_account_type 默认为account_type，目的账户类型，可以设置为org（组织）或者user（用户）。
## clone_style 默认为https，可以设置为ssh或者https。当设置为ssh时，你需要将dst_key所对应的公钥同时配置到源端和目的端。
## cache_path 默认为'', 将代码缓存在指定目录，用于与actions/cache配合以加速镜像过程。
## black_list 默认为'', 配置后，黑名单中的repos将不会被同步，如“repo1,repo2,repo3”。
## white_list 默认为'', 配置后，仅同步白名单中的repos，如“repo1,repo2,repo3”。
## static_list 默认为'', 配置后，仅同步静态列表，不会再动态获取需同步列表（黑白名单机制依旧生效），如“repo1,repo2,repo3”。
## force_update 默认为false, 配置后，启用git push -f强制同步，注意：开启后，会强制覆盖目的端仓库。
## debug 默认为false, 配置后，启用debug开关，会显示所有执行命令。
## timeout 默认为'30m', 用于设置每个git命令的超时时间，'600'=>600s, '30m'=>30 mins, '1h'=>1 hours
## mappings 源仓库映射规则，比如'A=>B, C=>CC', A会被映射为B，C会映射为CC，映射不具有传递性。主要用于源和目的仓库名不同的镜像。

# name: Mirror repo to other server
# on:
  ##
  ## 如果需要PR触发把push前的#去掉
  # push:
  ##
  ## 每天北京时间9点跑
  # schedule:
  #   - cron: '0 1 * * *'


- name: Mirror Github Repo to Gitee
  uses: moocon/hub-mirror-action@master
  with:
    src: github/moocon
    dst: gitee/moocon
    dst_key: ${{ secrets.MOOCON_PRIVATE_KEY }}
    dst_token: ${{ secrets.GITEE_TOKEN }}
    static_list: "PictureBed"
    debug: true

- name: Mirror Github Repo to Gitlab
  uses: moocon/hub-mirror-action@master
  with:
    src: github/moocon
    dst: gitlab/moocom
    dst_key: ${{ secrets.GITHUB_PRIVATE_KEY }}
    dst_token: ${{ secrets.GITLAB_TOKEN }}
    static_list: "PictureBed"
    debug: true